@model ChangePasswordViewModel

@{
    ViewData[nameof(EnumViewData.Title)] = "Change Password";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <h1 class="text-center">@ViewData[nameof(EnumViewData.Title)]</h1>
    </div>

    @Html.Partial(nameof(EnumPartialPages._StatusMessage), Model.StatusMessage)

    <div class="form-group">
        <label asp-for="OldPassword" class="col-xs-3 mt-3"></label>
        <input asp-for="OldPassword" class="form-control col-xs-9" />
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-xs-3 mt-3"></label>
        <input asp-for="NewPassword" class="form-control col-xs-9" />
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-xs-3 mt-3"></label>
        <input asp-for="ConfirmPassword" class="form-control col-xs-9" />
    </div>
    <hr />
    <div class="form-group ml-5 mr-5">
        <button type="submit" class="btn btn-primary btn-block">
	        <i class="batch-icon batch-icon-repeat-alt"></i>
	        Update password
        </button>
    </div>
</form>