@model ForgotPasswordViewModel

@{
    ViewData[nameof(EnumViewData.Title)] = "Forgot your password?";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <h1 class="text-center">@ViewData[nameof(EnumViewData.Title)]</h1>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-xs-3"></label>
        <input asp-for="Email" class="form-control col-xs-9" autofocus />
    </div>
    <div class="form-group ml-5 mr-5">
        <button type="submit" class="btn btn-primary btn-block">
		    <i class="batch-icon batch-icon-revert"></i>
		    Submit
	    </button>
    </div>
</form>