@*@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@inject SignInManager<ApplicationUser> SignInManager*@

@model LoginViewModel

@{
    ViewData[nameof(EnumViewData.Title)] = "Log In";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <h1 class="text-center">@ViewData[nameof(EnumViewData.Title)]</h1>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-xs-3"></label>
        <input asp-for="Email" class="form-control col-xs-9" autofocus />
        @*<span asp-validation-for="Email" class="text-danger col-xs-12"></span>*@
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-xs-3 mt-3"></label>
        <input asp-for="Password" class="form-control col-xs-9" />
        @*<span asp-validation-for="Password" class="text-danger col-xs-12"></span>*@
    </div>
    <div class="form-group">
        <div class="checkbox col-xs-12 mt-4">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
    </div>
    <div class="form-group ml-5 mr-5">
        <button type="submit" class="btn btn-primary btn-block">
		    <i class="batch-icon batch-icon-key"></i>
		    Log In
	    </button>
    </div>
    <hr />
    <div class="form-group">
        <a asp-action="ForgotPassword">Forgot your password?</a>
        @*<p>
            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
        </p>*@
    </div>
</form>