@model ResetPasswordViewModel

@{
    ViewData[nameof(EnumViewData.Title)] = "Reset Password";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />

    <div class="form-group">
        <h1 class="text-center">@ViewData[nameof(EnumViewData.Title)]</h1>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-xs-3"></label>
        <input asp-for="Email" class="form-control col-xs-9" autofocus />
        @*<span asp-validation-for="Email" class="text-danger col-xs-12"></span>*@
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-xs-3 mt-3"></label>
        <input asp-for="Password" class="form-control col-xs-9" />
        @*<span asp-validation-for="Password" class="text-danger col-xs-12"></span>*@
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-xs-3 mt-3"></label>
        <input asp-for="ConfirmPassword" class="form-control col-xs-9" />
        @*<span asp-validation-for="ConfirmPassword" class="text-danger col-xs-12"></span>*@
    </div>
    <hr />
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">
	        <i class="batch-icon batch-icon-repeat-alt"></i>
	        Reset password
        </button>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
