@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!-- Account Management Links -->
<ul class="navbar-nav ml-5 navbar-profile float-right">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbar-dropdown-navbar-profile" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
            <div class="profile-name">
                @UserManager.GetUserName(User)
            </div>
            @*<div class="profile-picture bg-gradient bg-primary has-message float-right">
                <img src="~/images/agents/1.jpg" width="44" height="44">
            </div>*@
        </a>
        <form asp-area="" asp-controller="Account" asp-action="Logout">
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-navbar-profile">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change password</a></li>
                    <li><button type="submit" class="dropdown-item">LOG OUT</button></li>

                    @*<li>
                        <a class="dropdown-item" href="#">
                            Messages
                            <span class="badge badge-danger badge-pill float-right">3</span>
                        </a>
                    </li>*@
                    @*<li><a class="dropdown-item" href="#">Logout</a></li>*@
                }
                else
                {
                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Login">Log in</a></li>
                }
            </ul>
        </form>
    </li>
</ul>