@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<nav class="navbar-sidebar-horizontal navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand" href="#">
        <img src="~/images/company/logo-dark.png" width="151" height="47" alt="">
    </a>

    <button class="hamburger hamburger--slider" type="button" data-target=".sidebar-horizontal" aria-controls="sidebar-horizontal" aria-expanded="false" aria-label="Toggle Sidebar">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <!-- Added Mobile-Only Menu -->
    <ul class="navbar-nav ml-auto mobile-only-control d-block d-sm-block d-md-block d-lg-none">
        <!-- Account Management Links -->
        @Html.Partial(nameof(EnumPartialPages._LoginPartial))
    </ul>

    <div class="collapse navbar-collapse" id="navbar-header-content">
        <!-- Notification -->
        <ul class="navbar-nav navbar-notifications mr-auto">
            @*<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle no-waves-effect" id="navbar-notification-calendar" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                    <i class="batch-icon batch-icon-calendar"></i>
                    <span class="notification-number">6</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-left dropdown-menu-md" aria-labelledby="navbar-notification-calendar">
                    <li class="media">
                        <a href="task-list.html">
                            <i class="batch-icon batch-icon-calendar batch-icon-xl d-flex mr-3"></i>
                            <div class="media-body">
                                <h6 class="mt-0 mb-1 notification-heading">Meeting with Project Manager</h6>
                                <div class="notification-text">
                                    Cras sit amet nibh libero
                                </div>
                                <span class="notification-time">Right now</span>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="task-list.html">
                            <i class="batch-icon batch-icon-calendar batch-icon-xl d-flex mr-3"></i>
                            <div class="media-body">
                                <h6 class="mt-0 mb-1 notification-heading">Sales Call</h6>
                                <div class="notification-text">
                                    Nibh amet cras sit libero
                                </div>
                                <span class="notification-time">One hour from now</span>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="task-list.html">
                            <i class="batch-icon batch-icon-calendar batch-icon-xl d-flex mr-3"></i>
                            <div class="media-body">
                                <h6 class="mt-0 mb-1 notification-heading">Email CEO new expansion proposal</h6>
                                <div class="notification-text">
                                    Cras sit amet nibh libero
                                </div>
                                <span class="notification-time">In 3 days</span>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="task-list.html">
                            <i class="batch-icon batch-icon-calendar batch-icon-xl d-flex mr-3"></i>
                            <div class="media-body">
                                <h6 class="mt-0 mb-1 notification-heading">Team building exercise</h6>
                                <div class="notification-text">
                                    Cras sit amet nibh libero
                                </div>
                                <span class="notification-time">In one week</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle no-waves-effect" id="navbar-notification-misc" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
                    <i class="batch-icon batch-icon-bell"></i>
                    <span class="notification-number">4</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-left dropdown-menu-md" aria-labelledby="navbar-notification-misc">
                    <li class="media">
                        <a href="task-list.html">
                            <i class="batch-icon batch-icon-bell batch-icon-xl d-flex mr-3"></i>
                            <div class="media-body">
                                <h6 class="mt-0 mb-1 notification-heading">General Notification</h6>
                                <div class="notification-text">
                                    Cras sit amet nibh libero
                                </div>
                                <span class="notification-time">Just now</span>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="task-list.html">
                            <i class="batch-icon batch-icon-cloud-download batch-icon-xl d-flex mr-3"></i>
                            <div class="media-body">
                                <h6 class="mt-0 mb-1 notification-heading">Your Download Is Ready</h6>
                                <div class="notification-text">
                                    Nibh amet cras sit libero
                                </div>
                                <span class="notification-time">5 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="task-list.html">
                            <i class="batch-icon batch-icon-tag-alt-2 batch-icon-xl d-flex mr-3"></i>
                            <div class="media-body">
                                <h6 class="mt-0 mb-1 notification-heading">New Order</h6>
                                <div class="notification-text">
                                    Cras sit amet nibh libero
                                </div>
                                <span class="notification-time">Yesterday</span>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="task-list.html">
                            <i class="batch-icon batch-icon-pull batch-icon-xl d-flex mr-3"></i>
                            <div class="media-body">
                                <h6 class="mt-0 mb-1 notification-heading">Pull Request</h6>
                                <div class="notification-text">
                                    Cras sit amet nibh libero
                                </div>
                                <span class="notification-time">3 day ago</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>*@
        </ul>

        <!-- Account Management Links -->
        @Html.Partial(nameof(EnumPartialPages._LoginPartial))
    </div>
</nav>