
@{
    ViewData[nameof(EnumViewData.Title)] = nameof(EnumController.Leads);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="~/js/ajax.js"></script>
    <script type="text/javascript" src="~/js/action.js"></script>
    <script type="text/javascript" src="~/js/lead.js"></script>
}

@Html.Partial(nameof(EnumPartialPages._MessageComposePartial))

<div class="row mb-4">
    <div class="col-md-12 mb-5">
        <div class="card">
            <div class="card-body pt-0">
                @(Html.DevExtreme().DataGrid<LeadViewModel>()
                    .CommonConfigs("gridLeads")
                    .DataSource(ds => ds.Mvc()
                        .Controller(nameof(EnumController.Leads))
                        .LoadAction("GetViewModel")
                        .InsertAction("Post")
                        .UpdateAction("Put")
                        .DeleteAction("Delete")
                        .Key("Id")
                    )
                    .Columns(c => {
                        c.AddFor(m => m.CustomerName);
                        c.Add().Caption("Type")
                            .Width("20%")
                            .CellTemplate(@<text>
                                <div>
                                    <img src="<%= data.LeadTypeImage %>" width="32" height="32" /> 
                                    <%= data.LeadTypeName %>
                                </div>
                            </text>);
                        c.Add().Caption("Details")
                            .CellTemplate(@<text>
                                <%= data.Details %>
                            </text>);
                        c.Add().Caption("Status")
                            .Width("15%")
                            .CellTemplate(@<text>
                                <%= data.StatusTag %>
                                <a href="#/" data-toggle="tooltip"
                                    data-placement="bottom"
                                    data-html="true"
                                    title="<%= data.History %>">
                                    <span class="batch-icon batch-icon-zoom-in-alt text-priamry"></span>
                                </a>
                            </text>);
                        c.Add()
                            .Width("20%")
                            .CellTemplate(@<text>
                                @(Html.DevExtreme().SelectBox()
                                    .DataSource(new JS("data.Actions"))
                                    .ActionCommonConfigs()
                                    .OnSelectionChanged("lead.handlers.onActionChanged")
                                )
                            </text>);
                    })
                    .Editing(e => e
                        .Mode(GridEditMode.Popup)
                        .UseIcons(true)
                        .AllowAdding(true)
                        .AllowUpdating(true)
                        .AllowDeleting(true)
                        .Popup(DXGridConfigs.EditingPopup(nameof(Lead)))
                    )
                    .OnContentReady(@<text>
                        function(e) {
                            CustomGridEvent.onContentReady(e, "Leads");
                            $('[data-toggle="tooltip"]').tooltip();
                        }
                    </text>)
                    .OnToolbarPreparing(@<text>
                        function(e) {
                            CustomGridEvent.onToolbarPreparing(e, "Leads");
                        }
                    </text>)
                )
            </div>
        </div>
    </div>
</div>