
@{
    ViewData[nameof(EnumViewData.Title)] = nameof(EnumController.Leads);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="~/js/viewmodels/LeadAssignmentResponseVM.js"></script>

    <script type="text/javascript" src="~/js/action.js"></script>

    <script type="text/javascript" src="~/js/lead.js"></script>
    <script type="text/javascript" src="~/js/assignment.js"></script>
}

@section Templates {
    @Html.Partial(nameof(EnumPartialPages._TemplateGridLeads))

    @Html.Partial(nameof(EnumPartialPages._TemplateGridAssignments))

    @Html.Partial(nameof(EnumPartialPages._MessageComposePartial))
}

<div class="row mb-4">
    <div class="col-md-12 mb-5">
        <div class="card">
            <div class="card-body">
                @* Using tabpanel for passing parameter to the grid in the template *@
                @(Html.DevExtreme().TabPanel()
                    .FocusStateEnabled(false)
                    .ElementAttr("class", "tabpanel-single-item") // Adding this class to hide tabpanel's header for a tabpanel with only 1 item
                    .Items(items =>
                    {
                        items.Add()
                            .Title("Assignments")
                            .Template(new TemplateName("template-grid-leads"));
                            // There is no parameter
                    })
                )
                
            </div>
        </div>
    </div>
</div>