@{
    ViewData[nameof(EnumViewData.Title)] = "Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts { 
    <script type="text/javascript" src="~/js/report.invoice.js"></script>
}

@(Html.DevExtreme().DataGrid<ReportInvoiceVM>()
    .ID("gridReportInvoice")
    .CommonConfigs()
    .DataSource(d => d.Mvc()
        .Controller(nameof(EnumController.Reports))
        .LoadAction("GetInvoices")
        .LoadParams(new {
            StringLeadIds = @Model.StringLeadIds,
            StringLeadAssignmentIds = @Model.StringLeadAssignmentIds
        })
    )
    .HeaderFilter(filter => filter.Visible(true))
    .Selection(selection => selection.Mode(SelectionMode.Multiple).SelectAllMode(SelectAllMode.AllPages))
    .Pager(DXGridConfigs.PagerShowSelector())
    .Export(export => export
        .Enabled(true)
        .AllowExportSelectedData(true)
        .FileName("lead-invoices")
        .Texts(texts => texts
            .ExportAll("Generate all invoices")
            .ExportSelectedRows("Generate invoices for selected rows")
            .ExportTo("Generate invoice options")
        )
    )
    .Columns(col => {
        col.AddFor(m => m.CustomerUnique)
            .Caption("Customer")
            .CellTemplate(new TemplateName("template-grid-report-invoice-column-customer"));
        //col.AddFor(m => m.LeadDetails)
        //    .Caption("Lead")
        //    .AllowHeaderFiltering(false)
        //    .CellTemplate(new TemplateName("template-grid-report-invoice-column-lead-details"));
        col.AddFor(m => m.LeadTypeName)
            .Caption("Type")
            .CellTemplate(new TemplateName("template-grid-report-invoice-column-lead-type"));
        col.AddFor(m => m.PartnerName)
            .Caption("Partner")
            .CellTemplate(new TemplateName("template-grid-report-invoice-column-partner"));
        col.AddFor(m => m.LeadTypePrice)
            .Caption("Price")
            .AllowHeaderFiltering(false)
            .Format(Format.Currency);
        col.AddFor(m => m.SubmittedDateTime)
            .Caption("Submitted")
            .CellTemplate(new TemplateName("template-grid-report-invoice-column-submitted"));
        col.AddFor(m => m.AssignedDateTime)
            .Caption("Assigned")
            .CellTemplate(new TemplateName("template-grid-report-invoice-column-assigned"));
        col.AddFor(m => m.AcceptedDateTime)
            .Caption("Accepted")
            .CellTemplate(new TemplateName("template-grid-report-invoice-column-accepted"));
        col.AddFor(m => m.CurrentStateName)
            .Caption("Status")
            .CellTemplate(new TemplateName("template-grid-report-invoice-column-status"));
    })
    .OnContentReady("reportInvoice.dxGrid.handlers.onContentReady")
    .OnToolbarPreparing("reportInvoice.dxGrid.handlers.onToolbarPreparing")
    .OnExporting("reportInvoice.handlers.onInvoiceExporting")
    .OnExported("reportInvoice.handlers.onInvoiceExported")
)

@using (Html.DevExtreme().NamedTemplate("template-grid-report-invoice-column-customer"))
{
    <span><%= data.CustomerUnique %></span>
}

@using (Html.DevExtreme().NamedTemplate("template-grid-report-invoice-column-lead-details"))
{
    <span><%= data.LeadDetails %></span>
}

@using (Html.DevExtreme().NamedTemplate("template-grid-report-invoice-column-lead-type"))
{
    <div>
        <img src="<%= data.LeadTypeImage %>" width="32" height="32" /> 
        <%= data.LeadTypeName %>
    </div>
}

@using (Html.DevExtreme().NamedTemplate("template-grid-report-invoice-column-partner"))
{
    <img src="<%= data.PartnerLogo %>" class="grid-partner-logo" />
    <b><%= data.PartnerName %></b>
}

@using (Html.DevExtreme().NamedTemplate("template-grid-report-invoice-column-status"))
{
    <span><%= data.CurrentStateTag %></span>
}

@using (Html.DevExtreme().NamedTemplate("template-grid-report-invoice-column-submitted"))
{
    <span><%= data.SubmittedDateTimeString %></span>
}

@using (Html.DevExtreme().NamedTemplate("template-grid-report-invoice-column-assigned"))
{
    <span><%= data.AssignedDateTimeString %></span>
}

@using (Html.DevExtreme().NamedTemplate("template-grid-report-invoice-column-accepted"))
{
    <span><%= data.AcceptedDateTimeString %></span>
}