@{
    ViewData[nameof(EnumViewData.Title)] = "Types of Lead";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/js/leadtype.js"></script>
}

<div class="row mb-4">
    <div class="col-md-12 mb-5">
        <div class="card">
            <div class="card-body pt-0">
                @(Html.DevExtreme().DataGrid<LeadType>()
                    .ID("gridLeadTypes")
                    .CommonConfigs()
                    .DataSource(ds => ds.Mvc()
                        .Controller(nameof(EnumController.LeadTypes))
                        .LoadAction("Get")
                        .InsertAction("Post")
                        .UpdateAction("Put")
                        .DeleteAction("Delete")
                        .Key("Id")
                    )
                    .Columns(columns =>
                    {
                        columns.Add().CellTemplate(@<text><%= data.Id %></text>).Caption("Id").FormItem(f => { f.Visible(false); });
                        columns.AddFor(m => m.Image).Visible(false)
                            .EditCellTemplate(new JS("function (cellElement, cellInfo) { leadtype.templates.uploaderImage(cellElement, cellInfo, dxGrid.cellTypes.editCellItem); }"));
                        columns.AddFor(m => m.Name)
                            .CellTemplate(new TemplateName("grid-leadtypes-column-image-name"));
                        columns.AddFor(m => m.Price).Format(Format.Currency);
                    })
                    .Editing(e =>
                        e.Mode(GridEditMode.Popup)
                        .UseIcons(true)
                        .AllowAdding(true)
                        .AllowUpdating(true)
                        .AllowDeleting(true)
                        .Popup(DXGridConfigs.EditingPopup(nameof(LeadType)))
                    )
                )
            </div>
        </div>
    </div>
</div>

@using (Html.DevExtreme().NamedTemplate("grid-leadtypes-column-image-name"))
{
    <img src="@ImageHelper.PATH_LEAD_TYPE<%= data.Image %>" class="lead-type-img" />
    <b><%= data.Name %></b>
}