body {
    padding-bottom: 20px;
}

footer {
    padding-top: 20px;
    text-align: center;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.dx-datagrid-rowsview .dx-master-detail-row:not(.dx-datagrid-edit-form) > .dx-datagrid-group-space,
.dx-datagrid-rowsview .dx-master-detail-row:not(.dx-datagrid-edit-form) .dx-master-detail-cell {
    background-color: transparent;
}

.form-container {
    padding: 20px;
}

.address-form label {
    font-weight: bold;
}

.form-first-group,
.form-second-group {
    padding: 20px;
}

.form-second-group {
    background-color: rgba(191, 191, 191, 0.15);
}

.form-avatar {
    height: 118px;
    width: 368px;
    margin-right: 10px;
    border-radius: 1%;
    background-image: url('../images/company/logo-dark.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-icon {
    border-radius: 50%;
}

.icon-xxx-large {
    font-size: 10em;
}

.grid-partner-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(191, 191, 191, 0.15);
}

.form-partner-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgba(191, 191, 191, 0.15);
}

.lead-type-img {
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 30%;
    border: 1px solid rgb(0, 0, 0);
}

.badge-status {
    font-size: 1em;
}

/* The class will hide the tabpanel's header if it is used for a tabpanel with 1 item */ 
/* E.g. using tabpanel in grid master-details for passing parameter to template */
.tabpanel-single-item { }
.tabpanel-single-item .dx-tabs-wrapper { 
    display: none;
}
.tabpanel-single-item .dx-datagrid .dx-datagrid-header-panel {
    margin-top: 0px;
}

.dx-toolbar-before .dx-button:first-child {
    margin-left: 10px;
}

.dx-toolbar-before-first {
    margin-left: 10px;
}

.file-uploader {
    border: 1px solid #d3d3d3;
}